/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}
.three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-flex;
    justify-content: space-between;
    padding-left: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.five {
    display: flex;
}

@media all and (max-width: 640px) {
    .five {
        flex-flow: row wrap;
    }

    #teksteen {
        box-sizing: border-box;
        flex: 0 0 50%;
    }

    #teksttwee {
        box-sizing: border-box;
        flex: 0 0 50%;
    }
}