/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.lijst {
    display: flex;
    flex-direction: row;
}